
  <div class="st-container">
      <h4 class="page-section-heading">Escribir Receta</h4>
      <div class="panel panel-default">
          <div class="panel-body">

              <form class="form-horizontal" role="form">
                  <div class="form-group">
                      <label class="col-sm-3 control-label" >Titulo de la Receta</label>
                      <div class="col-sm-9">
                          <input ng-model="nombre"  class="form-control" placeholder="Escriba aqui..." >
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-3 control-label">Sobre la receta</label>
                      <div class="col-sm-9">
                          <textarea class="form-control" rows="5" ></textarea>
                      </div>
                  </div>

                  <div class="form-group" >
                      <label class="col-sm-3 control-label">Ingredientes</label>
                      <div class="col-sm-9">
                          <form>
                          <div class="input-group">
                              <input type="text" class="form-control" ng-model="todoText" id="input" placeholder="Escriba el ingredietnte y presione mas...">
                              <span class="input-group-btn">
                                        <button class="btn btn-inverse" ng-click="addIngredients()" type="button">+</button>
                                    </span>
                          </div>
                          </form>

                          <span>{{remaining()}} of {{ingredientes.length}} ingredientes</span>
                           <a href="" ng-click="archive()"> [ eliminar ]</a>

                          <ul>
                              <li ng-repeat="todo in ingredientes">
                                  <input type="checkbox" ng-model="todo.done">
                                  <span class="done-{{todo.done}}">{{todo.text}}</span>
                              </li>
                          </ul>

                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-3 control-label" style="text-align: right">Preparacion</label>
                      <div class="col-sm-9">
                          <form>
                          <div class="input-group">
                              <input type="text" class="form-control" ng-model="todoTextPreparacion" placeholder="Escriba los pasos de preparacion...">
                              <span class="input-group-btn">
                                        <button class="btn btn-inverse"  ng-click="addPreparacion()"  type="button">+</button>
                                    </span>
                          </div>
                          </form>
                          <span>{{remainingPreparacion()}} of {{preparacion.length}} Pasos de Prearacion</span>
                          <a href="" ng-click="archivePreparaciones()"> [ eliminar ]</a>

                          <ul>
                              <li ng-repeat="todo in preparacion">
                                  <input type="checkbox" ng-model="todo.done">
                                  <span class="done-{{todo.donePreparacion}}">{{todo.text}}</span>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-3 control-label" style="text-align: right">Tiempo de preparacion</label>
                      <div class="col-sm-9">
                          <input style="margin-bottom: 15px" ng-model="tiempo_preparacion" class="form-control" nplaceholder="Escriba aqui...">
                      </div>
                  </div>


                 <div class="form-group">
                      <label class="col-sm-3 control-label" style="text-align: right">Cantidad de raciones</label>
                      <div class="col-sm-9">
                          <input style="margin-bottom: 15px" ng-model="raciones" class="form-control"  placeholder="Escriba aqui...">
                      </div>
                 </div>


                  <div class="form-group">
                      <label class="col-sm-3 control-label" style="text-align: right">Fotos</label>
                      <div  class="col-sm-9">

                          <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                         <br>
                      </div>
                  </div>



                  <div class="form-group margin-none">
                      <div class="col-sm-offset-10 col-sm-6">
                          <a href="" ng-click="createrecipe(nombre, raciones, tiempo_preparacion)" class="btn btn-primary">Publicar </a>

                          <button type="submit" class="btn btn-primary">Cancelar</button>
                      </div>
                  </div>

              </form>
          </div>
      </div>

    <!-- Footer -->
    <footer class="footer">
      <strong>TheCousini</strong> &copy; Copyright 2017
    </footer>
    <!-- // Footer -->

  </div>
  <!-- /st-container -->
