
<!-- Wrapper required for sidebar transitions -->
<div class="st-container">
    <!-- Fixed navbar -->
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <a href="#sidebar-chat" data-toggle="sidebar-menu">
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>
                    <li><a href="../login.html">Log In</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>



    <!--&nbsp
    <strong>Ordenar</strong>
    <select ng-model="orderField">
        <option value="titulo">Titulo</option>
        <option value="editorial">Editorial</option>
    </select>
    <select ng-model="orderReverse">
        <option value="false">Ascendente</option>
        <option value="true">Descendente</option>
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <span class="mini">{{var1}}</span>
    </p>-->


    <!-- content push wrapper -->
    <div class="st-pusher" id="content">

        <!-- sidebar effects INSIDE of st-pusher: -->
        <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

        <!-- this is the wrapper for the content -->
        <div class="st-content">

            <!-- extra div for emulating position:fixed of the menu -->
            <div class="st-content-inner">

                <div class="cover overlay tutors height-200 height-250-xs">
                    <div class="overlay overlay-full overlay-bg-grey">
                        <div class="container">
                            <h1 class="text-display-2 text-overlay">TheCousini</h1>
                            <form class="" role="search">
                                <div class="search-2">
                                    <div class="input-group">
                                        <input  ng-model="query.nombre" type="text" class="form-control form-control-w-150" placeholder="Search ..">
                                        <span class="input-group-btn">
                     <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                 </span>
                                    </div>
                                </div>
                            </form>
                            <div class="panel-body">
                            <a class="btn btn-sm btn-primary">Crear una Receta</a>
                            <a class="btn btn-sm btn-primary">Crear uan Dieta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row" data-toggle="gridalicious" data-gutter="20" data-width="100">

                        <div  ng-repeat="obj in libros | filter:query | orderBy:orderField:orderReverse" class="panel panel-default">

                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="">{{obj.nombre}}</a></h3>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img src={{obj.foto}} alt="people" class="media-object" />
                                    </a>
                                    <div class="media-body">
                                        <p>{{obj.preparacion}}</p>
                                        <a class="btn btn-sm btn-primary">leer mas</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <!-- /st-content-inner -->

        <!-- /st-content -->

    </div>
    <!-- /st-pusher -->

    <!-- Footer -->
    <footer class="footer">
        <strong>ThemeKit</strong> v4.0.0 &copy; Copyright 2015
    </footer>
    <!-- // Footer -->

</div>











&nbsp;&nbsp;&nbsp;&nbsp;



