<div class="st-container">
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#sidebar-chat" data-toggle="sidebar-menu" class="toggle pull-right visible-xs"><i class="fa fa-comments"></i></a>
                <a class="navbar-brand" href="index.html">TheCousini</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav  navbar-right ">
                    <!-- User -->
                    <li class="dropdown">
                        <a href="login.html#/login">Log In</a>
                    </li>
                </ul>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>

    <div class="st-pusher" id="content">

        <!-- sidebar effects INSIDE of st-pusher: -->
        <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

        <!-- this is the wrapper for the content -->
        <div class="st-content">


            <div class="media-body" id="june">
                <div class="st-content-inner">

                    <div class="media-body-wrapper">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-offset-4 col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <a href="#" class="h5">{{receta.nombre}}</a>
                                            <div class="text-muted">
                                                <small><i class="fa fa-clock-o"></i> {{receta.tiempopreparacion}}</small>
                                                <small><i class="fa fa-angle-double-right"></i> {{receta.raciones}} raciones</small>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <img ng-src="http://localhost/backend-api/web/images/recetas/{{receta.image_name}}"alt="image" class="img-responsive" />
                                        </a>

                                    </div>


                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                                <ul class="icon-list icon-list-block">
                                                    <li> {{receta.descripcion}}</li>
                                                </ul>

                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <a href="#" class="h5">Ingredientes</a>
                                            <div ng-repeat="obj in receta.ingredientes">
                                            <ul class="icon-list icon-list-block">
                                                <li><i class="fa fa-check fa-fw"></i> <a href="#">{{obj}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <a href="#" class="h5">Preparacion</a>
                                            <div ng-repeat="objp in receta.preparacion">
                                            <ul class="icon-list icon-list-block">
                                                <li><i class="fa fa-cutlery fa-fw"></i> <a href="#">{{objp}}</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>