<div class="row" >
<div class="col-md-3">
    <ul class="nav timeline-months">
        <li class="active"><a href="#/timeline"><i class="fa fa-calendar fa-fw"></i>Inicio</a></li>
        <li><a href="#/createrecipes"><i class="fa fa-calendar fa-fw"></i>Crear Recetas</a></li>
        <li><a href="#/createdieta"><i class="fa fa-calendar fa-fw"></i>Crear Dietas</a></li>
        <li><a href="#/listrecipesuser/1"><i class="fa fa-calendar fa-fw"></i>Mis Recetas</a></li>
        <li><a href="#/listdietasuser/1"><i class="fa fa-calendar fa-fw"></i>Mis Dietas</a></li>
        <li><a href="#/perfil"><i class="fa fa-fw icon-user-1"></i>Mi Perfil</a></li>
    </ul>
</div>
    <div class="col-md-9">
<timeline>
    <timeline-event ng-repeat="obj in allevents" side="right">
        <timeline-panel>
            <div class="row" style="margin:0px" >
                <div class="col-lg-4">
                <a href="#">
                <img ng-src="http://localhost/backend-api/web/images/recetas/{{obj.image_name}}" alt="image" class="img-responsive" />
                </a>
                </div>

                <div class="col-lg-8" style="margin-top:15px" >
            <a href="#/recipes/{{obj.id}}" class="h2">{{obj.nombre}}</a>
                    <div class="text-muted">
                        <small><i class=""></i> {{obj.raciones}}</small>
                        <small><i class=""></i> {{obj.tiempopreparacion}}</small>
                        <small><i class=""></i> {{obj.raciones}}</small>
                    </div>
                    <p>{{obj.descripcion}}</p>

                    <!--  <div class="panel-body" ng-repeat="user in usuariosseguidores(obj.id)">
                                            <img  ng-src="http://localhost/backend-api/web/images/recetas/{{user.image_avatar}}" alt="people" class="img-circle" />
                                            <a href="#" class="">Seguir</a>
                                        </div>-->


                </div>

            </div>
        </timeline-panel>
    </timeline-event>
</timeline>

</div>
</div>

